@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  width: 100vw;
  min-height: 100vh;
  background: #cef8ff;
}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(8, 190, 214);
  padding: 15px 7%;

}

.logo{
  width: 160px;
  cursor: pointer;
}

ul{
  flex:1;
  list-style: none;
  text-align: center;
}

li{
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.toggle-icon{
  width: 50px;
  cursor: pointer;
  margin-left: 40px;
}

.search-box{
  display: flex;
  align-items: center;
  background: #242424;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box input{
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
  font-size: 18px;
  max-width: 200px;
}

.search-box input::placeholder{
  color: white;
}

.search-box img{
  width: 20px;
  cursor: pointer;
}

.container.dark{
  background: rgb(93, 25, 105);
}